.app-header {
    background-color: #143642;
    height: 100px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    padding: 20px;
    font-size: 36px;
    text-align: center;
    color: #DAD2D8;
}

.plot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.bubble-chart {
    border-width: 0;
    width: 615px;
    height: 400px;
    align-items: center;
}

.slider {
    width: 800px;
}